:root {
    --text-color: #606060;
    --primary-color: #161616;
    --light-grey: #fafafa;
    --primary\<deleted\|variable-3b0502e6\>: #4d6bfa;
    --misty-rose: #ffdede;
    --light-blue-bg: #f8f8fa;
    --link-bg-grey: #f1f1f1;
    --white: white;
    --button-radius: 24px;
    --gradient-primary: #6557ff;
    --nav-link-color: #979797;
    --bg-grey: #d4d4d4;
    --notification-bg: #001b38;
    --gradient-secondary: #aa3fff;
    --gradient-third: #f8522e;
    --gradient-4: #fcaa4a;
    --color-gray-500: 173,192,210;
    --color-gray-900: 81,97,112;
}

body {
    font-family: Inter, sans-serif;
}
a {
    text-decoration: none;
}

/* navbar */
.navbar-one {
    background-color: rgba(255, 255, 255, 0.5);
}

.nav-link {
    z-index: 1;
    height: 100%;
    color: #706f6f;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    font-size: 17px;
    font-weight: 400;
    display: flex;
    position: relative;
}

.dropdown-menu {
    background-color: rgba(255, 255, 255, 0.7);
}

.dropdown-item:hover {
    background-color: rgb(92, 92, 92, 0.2);
    transition: 0.4s;
}

/*filtre */

.home .container .row .col-lg-6 .filter {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.home .container .row .col-lg-6 .form-filter{
    position: relative;
    width: 100px;
}

.fa-search{
    position: absolute;
    top: 66px;
    right: 321px;
    color: #9ca3af;
    padding-left: 1px;

}

.form-control {
    padding: 0.75rem 0.75rem;
}

.navbar-two .nav-item {
    margin-left: 30px;
}

.home .container .row .col-lg-6 .form-filter span{
    position: absolute;
    right: 17px;
    top: 10px;
    padding: 2px;
    border-left: 1px solid #d1d5db;

}

.form-inline {
    display: flex;
    margin-top: 39px;
}

.home .container .row .col-lg-6 .form-filter .left-pan{
    padding-left: 7px;
}

.home .container .row .col-lg-6 .form-filter .left-pan i{
   
   padding-left: 10px;
}

.home .container .row .col-lg-6 .form-filter .form-input{
    height: 50px;
    text-indent: 33px;
    border-radius: 10px;
}

.home .container .row .col-lg-6 .form-filter .form-input:focus{
    box-shadow: none;
    border:none;
}

.form-title {
    font-size: 18px;
    font-weight: 400;
    color: rgb(var(--color-gray-900));
}

.home .container .row .col-lg-6 .select-genre {
    margin-left: 221px;
}

.home .container .row .col-lg-6 .select-format {
    margin-left: 50px;
}


.bootstrap-select .dropdown-toggle { 
    height: 50px;
    border-radius: 10px;
    border: var(--bs-border-width) solid var(--bs-border-color);
    background-color: var(--bs-body-bg);
}

.bootstrap-select .dropdown-toggle .filter-option {
    top: 7px;
}

.bootstrap-select .dropdown-menu {
    max-height: 80px;
    background-color: white;
}




.Catalogue .container {
    max-width: 1200px;
    max-height: 300px;
}

.Catalogue .recommandation .title {
    margin-top: 25px;
    margin-bottom: 15px;
    color: rgb(var(--color-gray-900));
}

.Catalogue #myCarousel {
    margin-top: 50px;
}

.Catalogue .container .row .card {
    background: 0; /* Fond de carte transparent */
    border: 0;
    margin-left: 10px;
}

.Catalogue .container .row .card img{
    border-radius: 10px;
}

.Catalogue .container .row .carousel-item  {
    transition: transform 0.5s ease-in-out;
}

.Catalogue .container .row .card .card-body {
    padding: 0;
    margin-top: 10px;
}


.Catalogue .carousel-control-prev {
    left: -150px;
}

.Catalogue .carousel-control-next {
    right: -150px;
}

.Catalogue .carousel-control-next-icon, .carousel-control-prev-icon {
    width: 3rem;
    height: 3rem;
}


@media (max-width: 768px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

@media (max-width: 992px) {
    .filter {
        display: none;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-start,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

@media (max-width: 992px) {
    .navbar-brand {
        font-size: 30px;
    }
    .navbar-toggler-icon { 
        width: 2em;
        height: 2em;
    }

    .navbar-nav .nav-link {
        font-size: 20px;
    }
}

@media (min-width: 992px) {
    .content {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .navbar {
        margin-top: 30px;
        padding-left: 50px;
        padding-right: 50px;
        border-radius: 15px;
    }
    
    .navbar-brand {
        font-weight: bold;
        margin-right: 200px;
        /* Ajoutez une police plus épaisse pour le texte du logo */
    }

    .navbar-brand-two {
        font-weight: bold;
        margin-left: 200px;
        height: 48px;
        color: #fff;
        text-transform: uppercase;
        background-color: #000;
        border-radius: 12px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 12px 30px;
        font-size: 14px;
        transition: background-color .3s, color .35s;
        display: flex;
        position: relative;
        overflow: hidden;
    }

    .navbar-brand-two:hover {
        background-color: rgba(0, 0, 0, .05);
        color: #706f6f;
        transition: 0.4s;
    }

    .navbar-nav {
        margin: 0 auto;
        display: flex;
        align-items: center;
    }

    .navbar-one .nav-item {
        margin: 0 5px;
        /* Ajoutez une marge entre les éléments de la navbar */
    }
}


.gradient-center-holder {
    z-index: -1;
    width: 100%;
    height: 100vw;
    position: absolute;
    top: 0%;
    bottom: -40%;
    left: 0%;
    right: 0%;
    overflow: hidden;
}

.gradient-center {
    z-index: -1;
    width: 100%;
    height: 100vw;
    background-image: linear-gradient(130deg, var(--gradient-primary), var(--gradient-secondary) 30%, var(--gradient-third) 63%, var(--gradient-4) 81%);
    opacity: .2;
    filter: blur(150px);
    position: absolute;
    top: 0%;
    bottom: 40%;
    left: 0%;
    right: 0%;
}